1142	   This document introduces Traffic Filtering Action Extended

1142	   This document introduces Traffic Filtering Action Extended
1143	   Communities.  Malformed Traffic Filtering Action Extended Communities
1144	   in the sense of [RFC7606] Section 7.14. are Extended Community values
1145	   that cannot be decoded according to Section 7 of this document.

[] Please see my comment (above) in reply to your comments related to
§4.2 (NLRI Value Encoding).


//doc
This seems to be resolved in #133 and #155, #153