1116	   In case BGP encounters an error in a Flow Specification UPDATE

1116	   In case BGP encounters an error in a Flow Specification UPDATE
1117	   message it SHOULD treat this message as Treat-as-withdraw according
1118	   to [RFC7606] Section 2.

[major] The SHOULD above with the communities-related errors described below are in conflict with rfc7606, which says this: "An UPDATE message with a malformed Extended Community attribute SHALL be handled using the approach of "treat-as-withdraw"."


//doc 
#90, #91, #92 have been addressed by splitting the Error handling and Future extensions Sections. The change also makes it clear that what a malformed Traffic Action community is and how a unknown FS component should be treated. 