Ask IANA to update the registry "Generic Transitive Experimental Use Extended"

See #100 

Can I ask IANA to update the 0x80 Generic Transitive Experimental Use Extended [RFC7153] with IANA considerations in this document or do I need to file another document that updates RFC7153 -> will do if needed.

For the others it seems to be rather easy because their reference point back to rfc5575/bis

Waiting for Sue

I believe the best way is to create a RFC7153bis that adjusts the work.  I queried Alvaro and IANA about doing the changes below and an RFC7153bis document.  However, to keep this document independent of the RFC7153bis document, please use this format: 

===========
0x80 Generic Transitive Use Extended Community  [RFC7153] [this document]
   (Sub-types defined in the "Generic Transitive Use Extended Community Sub-Types" Registry)
0x81 Generic Transitive Use Extended Community  [RFC7153] [this document] (see note-1)
  (sub-types defined in the "Generic Transitive Use Extended Community Part 2 Sub-Types" Registry)   
0x82 Generic Transitive Use Extended Community [RFC7153][this document] (see note-1) 
  (sub-types defined in the "Generic Transitive Use Extended Community Part 3 Sub-Types" Registry) 
   (see note-1) 

Note-1: This document obsoletes RFC7674 and updates RFC7153.  
The intent is to also create a RFC7153bis, but to keep this document independent
of that work these specifications are made. 

============
Old/Table 7: Registry: Generic Transitive Experimental Use Extended Community Sub-Types/
New/Table 7: Registry: Generic Transitive Use Extended Community Sub-Types/
Old/note-2: This document obsoletes both RFC7674 and RFC5575/
New:/note-2: This document obsoletes RFC7674 and RFC5575, and updates RFC7153./ 

Old/Table 8: Registry Generic Transitive Experimental Use Extended Community Part 2 Sub-Types/
New/Table 8: Registry Generic Transitive Use Extended Community Part 2 Sub-Types/

Old/Table 9: Registry Generic Transitive Expermental Use Extended Community Part 3 Sub-Types/
New/Table 9: Registry Generic Transitive Use Extended Community Part 3 Sub-Types/

Old/note-3: This document obsoletes RFC7674.  This document should replace RFC7674 as 
the reference for tables 8 and 9.  



```
0x81 Generic Transitive Use Extended Community [RFC7153] [this document] (see note-1)
(sub-types defined in the "Generic Transitive Use Extended Community Part 2 Sub-Types" Registry)
0x82 Generic Transitive Use Extended Community [RFC7153][this document] (see note-1)
```
These are have no reference to [RFC7153] only to RFC7674 (which rfc5575bis obsoletes). So I believe that we can change the name of those 2 registries (because they are not part of RFC7153) with IANA considerations in  RFC5575bis

RFC7163 has the reference to 0x80, 0x81, and 0x82 - so we need to keep [RFC7153] 
Do I understand your comment? 

I mean:
`RFC 7153 Section 5.1.1.  Transitive Types` has only the `0x80 Generic Transitive Use Extended Community` in its text. And if you look at the IANA registry:

https://www.iana.org/assignments/bgp-extended-communities/bgp-extended-communities.xhtml
The `BGP Transitive Extended Community Types` contains a reference to RFC 7153 only for the 0x80 type. But for 0x81 and 0x82 the reference is RFC7674 (which we are obsoleting with RFC5755bis). So I think that we can also change the name for those registries (0x81, 0x82) with RFC5575bis, while we can't rename 0x80 since it is referenced by RFC7674?


The registries are created and maintained by standards actions. 
We can rename any registry as long as it is approved by the standards action of the responsible WG and approved by IESG.  IANA will note the previous name in their registery. 

ack - I will keep the old names and the "experimental use" cleanup will happen later. I will make the changes in the document. 