1147	11.  Future NLRI Extensions

1147	11.  Future NLRI Extensions

1149	   Future Flow Specification extensions may introduce new Flow
1150	   Specification components.  In order to facilitate such extensions of
1151	   the Flow Specification NLRI, in addition to the cases described in
1152	   [RFC7606], if BGP encounters an unknown Flow Specification component
1153	   in an UPDATE message, it SHOULD also treat this message as Treat-as-
1154	   withdraw as specified in [RFC7606] Section 2.

[minor] This paragraph describes an error condition, so maybe it belongs in §10.

[major] rfc7606/§3 reads:

  j.  Finally, we observe that in order to use the approach of "treat-
      as-withdraw", the entire NLRI field and/or the MP_REACH_NLRI and
      MP_UNREACH_NLRI attributes need to be successfully parsed -- what
      this entails is discussed in more detail in Section 5.  If this
      is not possible, the procedures of [RFC4271] and/or [RFC4760]
      continue to apply, meaning that the "session reset" approach (or
      the "AFI/SAFI disable" approach) MUST be followed.

If an unknown Flow Specification component exists, then the entire
NLRI cannot be "successfully parsed"...which results in not being able
to use treat-as-withdraw.  The text above leaves us with AFI/SAFI
disable, which is not extension-friendly.


rfc7606/§5.4 talks about Typed NLRIs, such as in mVPN/EVPN, and
concludes by saying:

   A BGP speaker advertising support for such a typed address family
   MUST handle routes with unrecognized NLRI types within that address
   family by discarding them, unless the relevant specification for that
   address family specifies otherwise.

The FS NLRI is not a Typed NLRI in the same sense that the examples
from rfc7606 are: the NLRI encoding starts with "Route Type".  But,
because the NLRI is basically a set of components, *with Types*, I
think we could make the case that the FS NLRI is a Typed NLRI and that
the paragraph above applies to it...which would result in being able
to ignore/discard an UPDATE with an unknown component (vs AFI/SAFI
disable).  Note that treat-as-withdraw is still not an option.

To be clear: all this is my personal interpretation/proposal.  If you
(authors) want to go with this approach (resulting in the ability to
discard), then we should explicitly bounce it by the WG.  If not, then
we can only reset the session or disable FS...

NEW (suggestion)>
   An advertisement containing an unknown Flow Specification component
should be discarded as specified in Section 5.4 of [RFC7606].

Additional text would be needed in §4.2 identifying the FS NLRI as Typed.


Jeffrey:

>   j.  Finally, we observe that in order to use the approach of "treat-
>       as-withdraw", the entire NLRI field and/or the MP_REACH_NLRI and
>       MP_UNREACH_NLRI attributes need to be successfully parsed -- what
>       this entails is discussed in more detail in Section 5.  If this
>       is not possible, the procedures of [RFC4271] and/or [RFC4760]
>       continue to apply, meaning that the "session reset" approach (or
>       the "AFI/SAFI disable" approach) MUST be followed.
> 
> If an unknown Flow Specification component exists, then the entire
> NLRI cannot be "successfully parsed"...which results in not being able
> to use treat-as-withdraw.  The text above leaves us with AFI/SAFI
> disable, which is not extension-friendly.
> 

This is exactly my largest concern about flowspec right now.  There is no
safe way to extend the spec at this point.

There are two options available to us, IMO:
1. Flowspec v2, which we stalled out until 5575bis was done.
2. We decide that for 5575-bis that all future extensions MUST be encoded
with a TLV format (length being mandatory).  And perhaps even protect a
compliant extension with a capability.  This is a major change, but perhaps
provides an upgrade path without waiting on v2.

> NEW (suggestion)>
>    An advertisement containing an unknown Flow Specification component
> should be discarded as specified in Section 5.4 of [RFC7606].
> 

You can't parse it, therefore it's malformed.


Christoph: It seems to me that we're getting to the same behavior: I
call it "discard", you call it "treat it as withdraw...“ignore”".
While discarding, ignoring and treat-as-withdraw are different things,
the effect seems to be the same: we won't use the NLRI.  We can find
the right words...  Do you also think we're going in the same
direction?


> Sigh. Into example-land we go:
> 
> You receive the following byte-stream as NLRI in a single BGP PDU:
> NLRI-1, length X components 1,2,3
> NLRI-2, length Y components 1,2,3,?,?,?
> NLRI-3, length Z components 1,2,3
> 
> In the case of NLRI-1,3 if you had received these individually, you'd know
> they were correct because the implementation understands them.
> 
> In NLRI-2, you don't know what some of the components are starting at first ?.
> 
> The _best_ you can do in these circumstances is walk the list of NLRI by
> length and see if you can arrive at NLRI boundaries and have a valid BGP
> Update PDU.
> 
> However, you also don't know if you actually have an NLRI-3 or not. It
> might actually be a random byte stream that just happens to parse as an NLRI
> and accidentally lands on a packet boundary. NLRI-2 may be corrupt and the
> length mis-calculated.
> 
> We have seen these bugs before, even in simple RFC 4271 PDUs.
> 

In theory, if the length is set correctly, and the unknown components
are "well behaved" (i.e. they are actually correct, the receiver just
doesn't understand them), then it seems to me that we could safely
just discard NLRI-2.  In theory...

I think that we are talking about two different actions when bumping
into an unknown component: discarding an NLRI in the list (e.g. just
NLRI-2 above), vs discarding the whole advertisement (i.e. all NLRIs
to protect against potential bugs).

Going back to rfc7606/§3, it talks about parsing the "entire NLRI
field" (not just a single entry).  But the Typed NLRI behavior
(rfc7606/§5.4) talks about discarding "routes with unrecognized NLRI
types" (not the entire advertisement).

Personal opinion:  If we (WG) don't buy into the Typed NLRI-like
argument, then we deal with the "entire NLRI field", but we're also
stuck with AFI/SAFI disable (or session reset).  If we buy into the
Typed NLRI-like argument, then it seems like we have the option to
specify either discard behavior.

???

Alvaro.

Alvaro,

[choosing the most terse response]

> On Wed, Dec 18, 2019 at 08:17:05AM -0800, Alvaro Retana wrote:
> On Wed, Dec 18, 2019 at 08:11:37AM +0100, Christoph Loibl wrote:
> You can't parse it, therefore it's malformed.
> 
> Jeff: I interpreted this response as agreeing that if the NLRI can't
> be parsed then it should be discarded (even maybe buying the Typed
> NLRI argument).  It sounds like we're agreeing.  Is that true?
> 

[...]

> Personal opinion:  If we (WG) don't buy into the Typed NLRI-like
> argument, then we deal with the "entire NLRI field", but we're also
> stuck with AFI/SAFI disable (or session reset).  If we buy into the
> Typed NLRI-like argument, then it seems like we have the option to
> specify either discard behavior.

IMO, the typed NLRI argument was poorly thought through.  It effectively
devolves into a form of the issues above.  The issue in both cases is that
it's impossible to tell that you're dealing with garbage or not.  The choice
made in that section was discard with exactly the same risks I mentioned.

If the WG converges on discard, so be it.  If an implementation and a
network roll the dice in a lucky fashion, they only encounter such issues
for well-formed unknowns that are discarded.  If not, they get to manually
bounce their peering session.

The fix for flowspec really should be flowspec v2 or capabilities based fix
for later extensions.  The fix for the typed NLRI is effectively similar.

-- Jeff

//doc
Defining the FS NLRI as "Typed NLRI" according to rfc7606. When decoding an unknown component type the implementation should discard the NLRI and skip over to the next NLRI according to section 5.4 rfc7606. Everything else is Malformed and treated as such. This looks very clean, fits nicely into rfc7606 and does not per se' break anything, while leaving the door open for extensions (something that is needed badly). The chances that a broken implementation encodes the NLRI-length(s) in a way that the decoder successfully decodes garbage as valid updates are very unlikely and not specific to FS.


 