Amanda: Add some note about the YANG model to the IANA considerations

Hi Sue, all,

Could I ask you to add a note about the effect on the YANG module to the IANA Considerations section?

In the meantime, I'll send our "IANA OK" note to the IESG before tomorrow's telechat.

thanks,
Amanda




This is the rationale form RFC8294 from Email from Robert Wilton from 4/16/2020 

Although RFC 8294 defines an initial version of iana-routing-types.yang, section 5.1 clearly states that this YANG module is dynamically created/updated based on changes to the "Subsequent Address Family Identifiers (SAFI) Parameters" registry.  In addition it states that the description is replicated from the registry, so if the registry changes then I think that the description must also be updated.

So, to answer Amanda's original question, I think that the answer is, 
yes the YANG description should be updated by draft-ietf-idr-rfc5575bis when the SAFI registry is updated and a new revision of the iana-routing-types.yang should be published at the same time.

In terms of the current YANG versioning rules, RFC 7950 section 11 states:
   o  A "description" statement may be added or changed without changing
      the semantics of the definition.

So, the interesting question here (for me) is: "Are the underlying meanings of SAFI 133 and 134 being changed by RFC5575bis, or this just a clarification of their descriptions to reflect their actual usage?"
==========================
Our statement is that the underlying meanings of SAFI 133 and SAF134
are unchanged but the text needs to change.   I will write this in the update.


Add to section 1.1 
 after the text that ends "Table 3: Registry: Safi Values 

The above textual changes clarify the definition of the SAFI rather than change its underlying meaning.  Therefore, based on RFC7950 (yang versioning rules), the above text implies that
the following yang descriptions from RFC8294 need to have their 
descriptions at: https://www.iana.org/assignments/iana-routing-types) changed to: 
  
   enum ipv4-flow-spec-safi {
          value 133;
          description
            "Dissemination of Flow Specification rules SAFI.";
        }

        enum vpnv4-flow-spec-safi {
          value 134;
          description
            "L3VPN Dissemination of Flow Specification rules SAFI";
        }


Christoph you can close this after you amend the draft. 