164	   A Flow Specification received from an external autonomous system will

164	   A Flow Specification received from an external autonomous system will
165	   need to be validated against unicast routing before being accepted.
166	   If the aggregate traffic flow defined by the unicast destination
167	   prefix is forwarded to a given BGP peer, then the local system can
168	   install more specific flow rules that may result in different
169	   forwarding behavior, as requested by this system.

[major] "A Flow Specification received from an external autonomous system will need to be validated against unicast routing before being accepted."  What about if received internally?


The introduction wording perhaps is not very descriptive. What has been intended was to say that FS received from different domain needs to be validated not received over EBGP vs IBGP as validation section clearly say that in both cases validation should take place. 

On the other hand locally originated FS routes with NULL AS-PATH are assumed to be trusted so no validation is strictly required for those as we would be validating  ourselves. 

//doc 
Abstract and Introduction have been updated in #117. 
The spec does not make any difference between iBGP vs eBGP. The text has been changed to "administrative domain" and a forward reference to the validation process has been added. 

The term "administrative domain" is a term of art in BGP (RFC1136).  [Yes - I wrote it].   You cannot use this term in this manner. 

Alternate text: 

A Flow Specification received from an external autonomous system will need to be validated against unicast routing before being accepted.   The flow specification received from internal BGP peer within an the same autonomous system (per RFC4271) is assumed to have been validated prior to transmission within the iBGP mesh of an autonomous system.   The validation procedure (see link)  "iBGP mesh" limits the distribution of flowspecification distribution to iBGP directly on the forwarding path.   (See the security section for implied trust in iBGP mesh). 


Alternate text to point to in the security section:  (note this is a modification of existing text) 

Put a header here [BGP web of Trust - Quandries in the Security Evolution] 
   <t>
       Inter-provider routing is based on a web of trust.  This web trust exists 
      between administrative domains (groups of autonomous systems) [RFC1136]
      between autonomous systems (ASs) participating in eBGP peering,
      and within the iBGP mesh within an autonomous system. 
      RFC4271 assumes that eBGP neighbors send information 
      that must be valided by policy  and exterior information (routing path) before
      it is accepted to be propogated into the iBGP mesh of an autonomous system. 
      In contrast, iBGP information is assumed to be implicitedly trusted. 
      This basic model works well in an Internet where most administrative domains 
      have 1-2  ASs with a few iBGP peers.    
    </t> 
    <t> In administrative domains that contain 3-10 ASes in a confederation, 
     flow specifications can be very helpful to quickly distribute filters to 
     stop Denial of Service attacks.  In these Autonomous systems, 
     the following boundaries exist: a) iBGP peers communicating within an AS, 
     b) E-BGP peering communicating between two ASs within an
     administrative domain, and c) two E-BGP peers communicating between 
    two different autonomous systems in two different administrative domains.
    In these deployments, the three levels may be constructed by different 
    BGP policy or by a combination of AS confederations and BGP policy. 
   </t> 
   <t>One shortcoming of this specification is that the validation procedures 
    do not support these 3 levels (iBGP, E-BGP within Administrative domian, 
    E-BGP between administrative domain).   Alternate proposal have been 
    fielded [draft-ietf-idr-bgp-flowspec-oid] that allow for policy to be used
   at each of the three levels with AS confederations.  
   </t> 
    <t> Some BGP deployments of flow specification, utilize BGP route-reflectors
    to distribute flow specifications information.  BGP route reflectors     
    can a clusters of iBGP peers for scaling to provide 3 levels
    [Cluster level,  iBGP mesh level, and E-BGP], or 4 levels of policy
    [Cluster level, iBGP mesh level, E-BGP within an administrative domain, 
     E-BGP outside an administrative domain].    A web of trust with 
    these 3 or 4 levels requires a substantial investment in BGP policy. 
    </t> 
   <t> The current flowspecification validation requires that the router 
    forwarding the flow specifications be on the routing path toward 
    the destination.  This restriction does not allow the flowspecification to 
   be easily linked to a set of security systems that data mine the traffic
   to quickly detect denial of service attacks or worms.  The operators
   would prefer to see a centralized iBGP peer outside the forwarding 
   path that can distribute this information.  
   </t> 
   <t> Therefore, this update to BGP distribution comes in the middle
   of a 3-way quandry.   First, this revision of this specification arises first out of a 
   need to correct some portions of the original specification in a clear way. 
   Otherwise, the BGP mechanisms to distribute flow specifications to protect 
   networks against denial of service attacks may encounter problems. 
   </t> 
  <t> Second, if the trust model is violated at any level, the remote peer 
   may cause a denial-of-service attack based on advertising
   reachability information for a given prefix for which it does not
   provide service (unfiltered address space hijack). Since validation
   of the Flow Specification is tied to the announcement of
   the best unicast route, this may also cause this validation to fail
   and consequently prevent Flow Specifications from being accepted
   by a peer.   Policy can check Route Origins (<xref target="RFC6811" />) 
   in Prefix Database to determine the AS originating the prefix is correct. 
  The Route Origins database could also be augmented with policy to determine 
  if a network would accept flow-specifications from this origin.  
</t>
<t> 
  Since many of the multiple level BGP networks utilize this as part of their 
  route selection policy, specifications such as [draft-ietf-bgp-flowspec-oid] do not 
  require it.  Further study is needed to determine if a requirement for
  Route Origin with flowspecification flags would allow the 
  multiple level distributions to be safer.  
   </t>
   <t> Third, the operators who depend on the distribution of 
   flowspecification to stop DoS attacks need more features.  These 
   features include:  a) more types of flow specifications (including v6), 
  b) to link their security device clusters to insert flowspecifications without 
   being on the traffic path, and c) to allow more levels of policy. 
 </t>  
 <t> One of the other options for securing flowspecification
    is (<xref target="RFC8205" />),  but wide spread
   deployment remains slow. 
  </t>  
<t>This specification addresses our first quandry:  fixing unclear sections in the
 in the original specification using field tested code.  Other specification are being fielded tested to allow different validation within the multiple level networks in administrative domains.
After successful field testing, additional feature may be added to the BGP flow specifications.   
</t> 
   [Security Cautions in deploying Flow-Specifications] 
(put the rest of the information here)  


 


This is one of the major issues that has to be fixed. 

Hi Sue,

I am not sure which text is a comment, suggestion, reply and which is the
original one.

Just few points:

* One could and actually treats administrative domain boundary for flow
spec distribution and validation differently then one could treat
autonomous system. We MUST not put an equal sign on it. So if for
some reason I am not sure I understand you recommend not to use term
administrative domain then we must replace it with "an autonomous systems
under [same|different] administration" to be able to reflect the spirit of
the text.

* "The validation procedure (see link) "iBGP mesh" limits the distribution
of flow specification distribution to iBGP directly on the forwarding
path." I do not understand what is "IBGP directly on the forwarding path".
IBGP is almost always nowadays incongruent with data plane 100%. It used to
be very wise to put IBGP in the data path as well as place RRs at the ABRs
but that due to encapsulation has gone away.

* Controllers can validate IBGP flow spec just fine today. In fact in most
networks which support encapsulation it is a BGP disservice to validate
next hops or worse use next hop metric to select best paths on such
controllers. And if you fix that (depending on the implementation just one
or two cfg commands)  such validation can take place there easily.

Then at the end you state:

"This specification addresses our first quandry: fixing unclear sections in
the in the original specification using field tested code. "

So are you actually ok with the current notion of the bis ? I am asking as
from your review it did not sound like it :)

Cheers
R.

On Sun, Nov 3, 2019 at 4:52 AM suehares <notifications@github.com> wrote:

> The term "administrative domain" is a term of art in BGP (RFC1136). [Yes -
> I wrote it]. You cannot use this term in this manner.
>
> Alternate text:
>
> A Flow Specification received from an external autonomous system will need
> to be validated against unicast routing before being accepted. The flow
> specification received from internal BGP peer within an the same autonomous
> system (per RFC4271) is assumed to have been validated prior to
> transmission within the iBGP mesh of an autonomous system. The validation
> procedure (see link) "iBGP mesh" limits the distribution of
> flowspecification distribution to iBGP directly on the forwarding path.
> (See the security section for implied trust in iBGP mesh).
>
> Alternate text to point to in the security section: (note this is a
> modification of existing text)
>
> Put a header here [BGP web of Trust - Quandries in the Security Evolution]
>
> Inter-provider routing is based on a web of trust. This web trust exists
> between administrative domains (groups of autonomous systems) [RFC1136]
> between autonomous systems (ASs) participating in eBGP peering,
> and within the iBGP mesh within an autonomous system.
> RFC4271 assumes that eBGP neighbors send information
> that must be valided by policy and exterior information (routing path)
> before
> it is accepted to be propogated into the iBGP mesh of an autonomous system.
> In contrast, iBGP information is assumed to be implicitedly trusted.
> This basic model works well in an Internet where most administrative
> domains
> have 1-2 ASs with a few iBGP peers.
>
> In administrative domains that contain 3-10 ASes in a confederation,
> flow specifications can be very helpful to quickly distribute filters to
> stop Denial of Service attacks. In these Autonomous systems,
> the following boundaries exist: a) iBGP peers communicating within an AS,
> b) E-BGP peering communicating between two ASs within an
> administrative domain, and c) two E-BGP peers communicating between
> two different autonomous systems in two different administrative domains.
> In these deployments, the three levels may be constructed by different
> BGP policy or by a combination of AS confederations and BGP policy.
>
> One shortcoming of this specification is that the validation procedures
> do not support these 3 levels (iBGP, E-BGP within Administrative domian,
> E-BGP between administrative domain). Alternate proposal have been
> fielded [draft-ietf-idr-bgp-flowspec-oid] that allow for policy to be used
> at each of the three levels with AS confederations.
>
> Some BGP deployments of flow specification, utilize BGP route-reflectors
> to distribute flow specifications information. BGP route reflectors
> can a clusters of iBGP peers for scaling to provide 3 levels
> [Cluster level, iBGP mesh level, and E-BGP], or 4 levels of policy
> [Cluster level, iBGP mesh level, E-BGP within an administrative domain,
> E-BGP outside an administrative domain]. A web of trust with
> these 3 or 4 levels requires a substantial investment in BGP policy.
>
> The current flowspecification validation requires that the router
> forwarding the flow specifications be on the routing path toward
> the destination. This restriction does not allow the flowspecification to
> be easily linked to a set of security systems that data mine the traffic
> to quickly detect denial of service attacks or worms. The operators
> would prefer to see a centralized iBGP peer outside the forwarding
> path that can distribute this information.
>
> Therefore, this update to BGP distribution comes in the middle
> of a 3-way quandry. First, this revision of this specification arises
> first out of a
> need to correct some portions of the original specification in a clear way.
> Otherwise, the BGP mechanisms to distribute flow specifications to protect
> networks against denial of service attacks may encounter problems.
>
> Second, if the trust model is violated at any level, the remote peer
> may cause a denial-of-service attack based on advertising
> reachability information for a given prefix for which it does not
> provide service (unfiltered address space hijack). Since validation
> of the Flow Specification is tied to the announcement of
> the best unicast route, this may also cause this validation to fail
> and consequently prevent Flow Specifications from being accepted
> by a peer. Policy can check Route Origins ()
> in Prefix Database to determine the AS originating the prefix is correct.
> The Route Origins database could also be augmented with policy to determine
> if a network would accept flow-specifications from this origin.
>
>
> Since many of the multiple level BGP networks utilize this as part of their
> route selection policy, specifications such as
> [draft-ietf-bgp-flowspec-oid] do not
> require it. Further study is needed to determine if a requirement for
> Route Origin with flowspecification flags would allow the
> multiple level distributions to be safer.
>
> Third, the operators who depend on the distribution of
> flowspecification to stop DoS attacks need more features. These
> features include: a) more types of flow specifications (including v6),
> b) to link their security device clusters to insert flowspecifications
> without
> being on the traffic path, and c) to allow more levels of policy.
>
> One of the other options for securing flowspecification
> is (), but wide spread
> deployment remains slow.
>
> This specification addresses our first quandry: fixing unclear sections in
> the
> in the original specification using field tested code. Other specification
> are being fielded tested to allow different validation within the multiple
> level networks in administrative domains.
> After successful field testing, additional feature may be added to the BGP
> flow specifications.
>
> [Security Cautions in deploying Flow-Specifications]
> (put the rest of the information here)
>
> —
> You are receiving this because you were assigned.
> Reply to this email directly, view it on GitHub
> <https://github.com/stoffi92/rfc5575bis/issues/6?email_source=notifications&email_token=AAIH6EFSNPI2ELQJZBA25ALQRZDIPA5CNFSM4IVQUYC2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEC5KKHQ#issuecomment-549102878>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAIH6EFAJP6HN5GFDVQL5BDQRZDIPANCNFSM4IVQUYCQ>
> .
>


Robert - you make a good point.  I was not clear about what this text changes issues.   I will open two separate issues with specific changes. 

After reviewing the system of comments that Christoph has made, it is better to re-open this issue with a very specific comment. 
----------------------------
The term "administrative domain" is a term of art in BGP (RFC1136). [Yes - I wrote it]. You cannot use this term in this manner.

Alternate text:

A Flow Specification received from an external autonomous system will need to be validated against unicast routing before being accepted. The flow specification received from internal BGP peer within an the same autonomous system (per RFC4271) is assumed to have been validated prior to transmission within the iBGP mesh of an autonomous system. 

I believe this avoid Robert's comment. 

After reading Robert's response, I have decided to toss the long tutorial paragraphs and the changes to the security section.  I will forward the tutorial to the IESG via a shepherd's report or a chair's report. 
These ranting paragraphs should be ignored.  The only change is the short change in the previous comment. 

//doc
Abstract and Introduction have been updated in #117.
The flow specification received from an internal BGP peer within the same autonomous system (per RFC4271) is assumed to have been validated prior to transmission within the iBGP mesh of an autonomous system.