IESG Benjamin Kaduk: Section 4

Section 4

   The NLRI field of the MP_REACH_NLRI and MP_UNREACH_NLRI is encoded as
   one or more 2-tuples of the form <length, NLRI value>.  It consists
   of a 1- or 2-octet length field followed by a variable-length NLRI
   value.  The length is expressed in octets.

RFC 4760 only shows the one-octet length form; is there a good reference for
the 2-octet length?  (Or is it "new" with 5575?)

As far as aI can tell  RFC4760 shows 1 octet length form. 
RFC4724 - graceful restart only indicates the same amount. 
RFC7606 - indicates the sasme amount. 

Is there some reference I'm missing. 
Tag this one as important. 


//doc
This 2-octet length format has been introduced in RFC5575 most probably to allow larger flowspec to be encoded into the NLRI value. The length encoding is described in the following paragaph.
